*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    flex-wrap: wrap;
}

body{
    background-color: rgb(0, 0, 0);
    color: white;
    
    
}

header {
    display: flex;
    justify-content: space-between;
    background-color: violet;
    height: 7rem;
    align-items: center;
    padding: 4rem;
    align-content: center
    
    ;
    
}

.pesquisar {
    display: flex;
    padding: 10px;
    justify-content: flex-end;
    gap: 10px;
    


}


a {
    text-decoration: none;
    color: violet;
    display: flex;
}



.perfil , .menu {
    font-size: 43px;
}

input#pesquisar {
    padding: 10px;
    border-radius: 10px;
}

button {
    padding: 10px 40px;
    margin: 3px;
}

h2 {
    font-size: 3rem;
}



.card {
    margin: 20px;
    background-color: aliceblue;
    color: black;
    display: flex;
    flex-direction: column;

}


[name="opcao_desejada"] {
    width: 350px;
    height: 2.6rem;
    border-radius: 10px;
    padding: 10px;
}

button [id="opcao_desejada"] {
    border-radius: 10px;
    padding: 10px 30px;
     
}

.cards {
    margin: 20px;
    text-align: center;
    font-size: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}


.neyma {
    width: 220px;
}

.neyma_logo {
    height: 100px;
    width: 300px;
}


.card :hover {
    transition: 0.6s ease-in-out;
    width: 250px;
}

